.python-version

#Notebooks stuff
notebooks

#environment variables
.env

#cache
__pycache__

#data
training-data

#airflow
logs
plugins
dags/data
dags/.key
docker-compose.yaml

#other stuff
.DS_Store
